#title {
  display: block;
  text-align: center;
  background-color: #f7f7f7;
}

.title__name {
  padding-top: 1rem;
  font-size: 6rem;
  letter-spacing: 0.5rem;
  font-weight: 600;
  cursor: pointer;
}

.nav-bar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin: 2rem 0rem;
  margin-bottom: 0rem;
  background-color: #111;
}

.lists {
  width: 80%;
  margin: 0 auto;
}
.lists .lists__list {
  display: inline-block;
  padding: 1rem 5rem;
  background-color: #111;
  transition: background-color 0.3s ease-in;
}
.lists .lists__list:hover {
  background-color: #f8c291;
  color: #111;
}
.nav-bar .lists li,
.lists a {
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 500;
  text-decoration: none;
  color: #f7f7f7;
}

.toggle {
  width: 100%;
  padding: 1rem 1.5rem;
  background-color: #f7f7f7;
  text-align: right;
  color: #111;
  font-size: 2rem;
  display: none;
}

@media (max-width: 414px) {
  .title__name {
    width: 100%;
    font-size: 3rem;
  }
  .toggle {
    display: block;
  }
  .lists {
    width: 100%;
    display: none;
  }
  .lists__list {
    display: block;
    text-align: center;
  }
  .active {
    display: block;
  }
}
