.records {
  width: 100%;
}
.records__contents {
  margin-bottom: 3rem;
}
.records__contents h1 {
  text-align: center;
  font-size: 5rem;
  margin-top: 5rem;
  font-family: "Montserrat";
  font-weight: 700;
  text-transform: uppercase;
}

.records__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.records__months {
  width: 25rem;
  height: 25rem;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  font-weight: 600;
  transition: background-color 0.5s ease-in-out;
}
.records__months:nth-child(1) {
  background-image: url("../images/grid1.jpg");
  background-size: 100% 100%;
}

.records__months:nth-child(2) {
  background-image: url("../images/grid2.jpg");
  background-size: 100% 100%;
}
.records__months:nth-child(3) {
  background-image: url("../images/grid3.jpg");
  background-size: 100% 100%;
}
.records__months:hover {
  background: #0a3d62;
}
.records__months a {
  color: #f6b93b;
  text-decoration: none;
  transition: color 0.3s linear;
}

.records__months a:hover {
  color: #b8e994;
}

@media (max-width: 414px) {
  .records__contents h1 {
    font-size: 2rem;
  }
  .records__wrapper {
    display: block;
  }
  .records__months {
    width: 100vw;
    height: 50vh;
  }
}
